[submodule "clones/OSM-binary"]
	path = clones/OSM-binary
	url = https://github.com/scrosby/OSM-binary
[submodule "clones/tiny-osmpbf"]
	path = clones/tiny-osmpbf
	url = https://github.com/tyrasd/tiny-osmpbf
