*.log
*.trs
*.o
*.lo
*.la
.deps
.libs
Doxyfile
Makefile
config.h
examples/test_osm1
examples/test_osm2
examples/test_osm3
libtool
readosm.pc
stamp-h1
tests/check_err
tests/check_osm
tests/check_pbf
config.status
